// Reset & Universal Styling
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #dfdfdf;
}

// Utilities
.container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.sold {
  pointer-events: none;
  text-decoration: line-through;
  opacity: 0.8;
}

// Title
.title {
  background-color: #fff;
  padding: 0.75rem;
  margin-bottom: 2rem;

  h1,
  p {
    padding-bottom: 0.5rem;
  }

  h1 {
    text-transform: uppercase;
  }

  h4 {
    font-weight: normal;
  }

  ol {
    margin-left: 2rem;
    a {
      font-size: 0.9rem;
      display: block;
      margin: 3px;
      padding: 2px;
    }
  }
}

// Items
.item-sale {
  margin-bottom: 2rem;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.swipe-icon {
  position: absolute;
  width: 40px;
  height: auto;
  top: 30%;
  right: 0;
  opacity: 0.75;
}

.pictures {
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  margin: 0 auto;
  img {
    display: inline-block;
    max-width: 95vw;
    height: auto;
    max-height: 60vh;
    vertical-align: middle;
  }
  .single-img {
    max-width: 100%;
  }
}

.text {
  padding: 0.75rem;
}

h2 {
  font-weight: normal;
  padding-bottom: 0.5rem;
  .price {
    font-weight: 700;
  }
}

.price::after {
  content: ' €';
}
